<a href="https://colab.research.google.com/github/zuma3247/CSAI_Intro_to_AI/blob/main/CSAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ICP1

In [13]:
# Q.5a

user_input = input("Enter string: ")

char_list = list(user_input)

if len(char_list) >= 2:
  del char_list[-2:]
  char_list.reverse()

  result_string = "".join(char_list)
  print("Result:", result_string)

else:
  print("String is too short")

KeyboardInterrupt: Interrupted by user

In [ ]:
# Q.5b

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
print(num1, " + ", num2, " = ", sum)

diff = num1 - num2
print(num1, " - ", num2, " = ", diff)

prod = num1 * num2
print(num1, " * ", num2, " = ", prod)

mod = num1 % num2
print(num1, " % ", num2, " = ", mod)

In [ ]:
# Q.6

sentence = input("Enter a sentence: ")

modified_sentence = sentence.replace("python", "pythons")

print("Modified sentence:", modified_sentence)

In [ ]:
# Q.7

score = float(input("Enter class score (x)%: "))

if score < 63:
  print("F")
elif score < 67:
  print("D")
elif score < 70:
  print("D+")
elif score < 73:
  print("C-")
elif score < 77:
  print("C")
elif score < 80:
  print("C+")
elif score < 83:
  print("B-")
elif score < 87:
  print("B")
elif score < 90:
  print("B+")
elif score < 93:
  print("A-")
else:
  print("A")

In [ ]:
# Q.8

x = [23, 'Python', 23.98]
print(x)

types_list = []

for item in x:
  types_list.append(type(item))

print(types_list)

In [ ]:
# Q.9

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Length of the set IT_companies
print("Length of IT_companies:", len(IT_companies))

# Add Twitter
IT_companies.add('Twitter')
print("Added Twitter:", IT_companies)

# Insert multiple IT companies at once
IT_companies.update(['Netflix', 'LinkedIn'])
print("Added multiple companies:", IT_companies)

# Remove one of the companies
IT_companies.remove('Oracle')
print("After removing Oracle:", IT_companies)

"""Remove and Discard both remove the specified element.
If the element does not exist, remove would raise an error,
but discard would not."""

print()
print("A union B: ", A.union(B))
print("A intersection B: ", A.intersection(B))
print("Is A a subset of B: ", A.issubset(B))
print("Are A & B disjoint sets: ", A.isdisjoint(B))
print("Join A with B: ", A.union(B))
print("Join B with A: ", B.union(A))
print("Symmetric difference between A and B: ", A.symmetric_difference(B))
print()

del A
del B

age_set = set(age)
print("Age list: ", age)
print("Age set: ", age_set)
print("Length of age list: ", len(age))
print("Length of age set: ", len(age_set))

# ICP2

In [19]:
# Q1
for i in range(1, 6):
  print("* " * i)

for i in range(4, 0, -1):
  print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Q2.1

Counter.count increments the counter that is in the class while self._count increments the counter of the instance.

# Q2.2

a.get_counts():

Instance count: 2, Class count: 3

b.get_counts():

Instance count: 1, Class count: 3


# Q2.3

It adds one to the counter of the class as well as the counter of the instance.

In [20]:
# Q3

def sum_all(args):
  return sum(args)

list = [1,2,3]
print("Sum of 1,2,3 is:", sum_all(list))

list = [4,5,6,7]
print("Sum of 4,5,6,7 is:", sum_all(list))

Sum of 1,2,3 is: 6
Sum of 4,5,6,7 is: 22

In [21]:
# Q4

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(my_list[::2])

[10, 30, 50, 70, 90]

In [22]:
# Q5

def unique (list):
  return set(list)

my_list = [10, 20, 30, 40, 50, 50, 50, 50, 60, 70, 80, 90, 100]
print(unique(my_list))

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [23]:
class Employee:
  numEmps = 0
  sumSalary = 0
  def __init__(self, name, family, salary, department):
    self.name = name
    self.family = family
    self.salary = salary
    self.department = department
    Employee.numEmps += 1
    Employee.sumSalary += salary

  def avgSalary(self):
    return Employee.sumSalary / Employee.numEmps

class FulltimeEmployee(Employee):
  def __init__(self, name, family, salary, department):
    super().__init__(name, family, salary, department)

emp1 = Employee("Alice", "Smith", 60000, "HR")
emp2 = FulltimeEmployee("Bob", "Johnson", 80000, "Engineering")
emp3 = FulltimeEmployee("Charlie", "Brown", 90000, "Marketing")

print(f"Employee 1 (Alice) - Name: {emp1.name}, Family: {emp1.family}, Salary: {emp1.salary}, Department: {emp1.department}")
print(f"Employee 2 (Bob) - Name: {emp2.name}, Family: {emp2.family}, Salary: {emp2.salary}, Department: {emp2.department}")
print(f"Employee 3 (Charlie) - Name: {emp3.name}, Family: {emp3.family}, Salary: {emp3.salary}, Department: {emp3.department}")

print(f"Total number of employees: {Employee.numEmps}")
print(f"Average salary of all employees: {emp1.avgSalary()}")

Employee 1 (Alice) - Name: Alice, Family: Smith, Salary: 60000, Department: HR
Employee 2 (Bob) - Name: Bob, Family: Johnson, Salary: 80000, Department: Engineering
Employee 3 (Charlie) - Name: Charlie, Family: Brown, Salary: 90000, Department: Marketing
Total number of employees: 3
Average salary of all employees: 76666.66666666667