<a href="https://colab.research.google.com/github/zuma3247/CSAI_Intro_to_AI/blob/main/CSAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q.5a

user_input = input("Enter string: ")

char_list = list(user_input)

if len(char_list) >= 2:
  del char_list[-2:]
  char_list.reverse()

  result_string = "".join(char_list)
  print("Result:", result_string)

else:
  print("String is too short")

Enter string: Humanity
Result: inamuH

In [ ]:
# Q.5b

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2
print(num1, " + ", num2, " = ", sum)

diff = num1 - num2
print(num1, " - ", num2, " = ", diff)

prod = num1 * num2
print(num1, " * ", num2, " = ", prod)

mod = num1 % num2
print(num1, " % ", num2, " = ", mod)

Enter first number: 626
Enter second number: 2
626  +  2  =  628
626  -  2  =  624
626  *  2  =  1252
626  %  2  =  0

In [ ]:
# Q.6

sentence = input("Enter a sentence: ")

modified_sentence = sentence.replace("python", "pythons")

print("Modified sentence:", modified_sentence)

Enter a sentence: I love playing with python
Modified sentence: I love playing with pythons

In [2]:
# Q.7

score = float(input("Enter class score (x)%: "))

if score < 63:
  print("F")
elif score < 67:
  print("D")
elif score < 70:
  print("D+")
elif score < 73:
  print("C-")
elif score < 77:
  print("C")
elif score < 80:
  print("C+")
elif score < 83:
  print("B-")
elif score < 87:
  print("B")
elif score < 90:
  print("B+")
elif score < 93:
  print("A-")
else:
  print("A")

Enter class score (x)%: 87
B+

In [5]:
# Q.8

x = [23, 'Python', 23.98]
print(x)

types_list = []

for item in x:
  types_list.append(type(item))

print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [13]:
# Q.9

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Length of the set IT_companies
print("Length of IT_companies:", len(IT_companies))

# Add Twitter
IT_companies.add('Twitter')
print("Added Twitter:", IT_companies)

# Insert multiple IT companies at once
IT_companies.update(['Netflix', 'LinkedIn'])
print("Added multiple companies:", IT_companies)

# Remove one of the companies
IT_companies.remove('Oracle')
print("After removing Oracle:", IT_companies)

"""Remove and Discard both remove the specified element.
If the element does not exist, remove would raise an error,
but discard would not."""

print()
print("A union B: ", A.union(B))
print("A intersection B: ", A.intersection(B))
print("Is A a subset of B: ", A.issubset(B))
print("Are A & B disjoint sets: ", A.isdisjoint(B))
print("Join A with B: ", A.union(B))
print("Join B with A: ", B.union(A))
print("Symmetric difference between A and B: ", A.symmetric_difference(B))
print()

del A
del B

age_set = set(age)
print("Age list: ", age)
print("Age set: ", age_set)
print("Length of age list: ", len(age))
print("Length of age set: ", len(age_set))

Length of IT_companies: 7
Added Twitter: {'Twitter', 'Apple', 'Google', 'IBM', 'Microsoft', 'Facebook', 'Oracle', 'Amazon'}
Added multiple companies: {'Google', 'LinkedIn', 'Microsoft', 'Amazon', 'IBM', 'Apple', 'Facebook', 'Netflix', 'Twitter', 'Oracle'}
After removing Oracle: {'Google', 'LinkedIn', 'Microsoft', 'Amazon', 'IBM', 'Apple', 'Facebook', 'Netflix', 'Twitter'}

A union B:  {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B:  {19, 20, 22, 24, 25, 26}
Is A a subset of B:  True
Are A & B disjoint sets:  False
Join A with B:  {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B:  {27, 28}

Age list:  [22, 19, 24, 25, 26, 24, 25, 24]
Age set:  {19, 22, 24, 25, 26}
Length of age list:  8
Length of age set:  5